*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
.grid{
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 6fr 2fr;
    grid-template-areas: 
    "one one"
    "two three"
    ;
    width: 100vw;
    height: 100vh;
}
.bar{
    background-color:#3AAAFF;
    grid-area: one;
    display: flex;
    justify-content: space-evenly;
}
.main{
    grid-area: two;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.side{
    background-color: rgb(200, 80, 178);
    grid-area: three;
    display: flex;
    flex-direction: column;
    border: rgb(237, 153, 221);
    border-width: 10px;
    border-style: solid;

}
.logopic{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.but{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 30px;
    background-color: transparent;
    height: 36%;
    width: 12%;
    border: 5px;
    border-radius: 20px;
    border-color: black;
    background-color: #62b5f5;
    
}
.item{
    margin-top: 2%;
    margin-left: 5%;
    width: 80%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    border: 5px;
    border-color: #3AAAFF;
    border-style: solid;
    border-radius: 20px;
}
.item_img{
    height: 100%;
    object-fit: cover;
    margin-left: 15px;
}
.item_but{
    margin-top: 12%;
    margin-right: 2%;
    height: 25%;
    width: 15%;
    font-size: 20px;
    border-radius: 20px;
}
.item_text{
    margin-top: 5%;
}
.side_title{
    padding-top: 5%;
    display: flex;
    justify-content: center;
    font-size: 30px;
    text-decoration: underline;
    border-bottom: rgb(237, 153, 221);
    border-bottom-width: 15px;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-top: none;
    padding-bottom: 2%;
}
.side_list{
    margin-left: 12%;
    margin-top: 12%;
    margin-bottom: 12%;
    font-size: 30px;
    
}
.side_total{
    display: flex;
    justify-content: center;
    margin-bottom: 12%;
    border: rgb(237, 153, 221);
    border-width: 15px;
    border-style: solid;
    border-left: none;
    border-right: none;
    padding-top: 4%;
    padding-bottom: 4%;
    
}
.side_but{
    width: 50%;
    height: 40px;
    margin-left: 28%;
    border-radius: 20px;
    font-size: 20px;
    border: rgb(208, 125, 192);
    background-color: rgb(208, 125, 192);
}

